<h2>Cadastro Produto</h2>

<div class="form-group">
    <label>Nome:</label>
    <input type="text" class="form-control" id="input_name" ng-model="name" />
</div>
<div class="form-group">
    <label>Marca:</label>
    <input type="text" class="form-control" id="input_cpf" ng-model="brand" />
</div>
<div class="form-group">
    <label>Estoque:</label>
    <input type="text" class="form-control" id="input_adress" ng-model="stock" />
</div>
<input class="btn btn-success" type="button" ng-click="save()" value="Enviar" />

